.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
.material-symbols-outlined {
  font-size: 35px;
}
.CampoCarrito {
  font-size: 15px;
}

.justify-content-end {
  width: 100%;
}
.TituloNuevo {
  flex-direction: row;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  font-family: cursive;
}